@import "css/bs3/bootstrap.less";
@import "css/bs3/variables.less";
@import "css/bs3/mixins.less";

@import "css/util.less";
@import "css/common.less";

#nav-main,
#nav-stats {
  .make-row;
  .wrap {
    .off(1);
    .col(10);
  }
}

#main {
  & > header {
    .row;
    margin-right: 0px; // Without this, a horizontal scrollbar appears (ew). I'll figure out why, later...
    .wrap {
      .off(2);
      .col(8);
    }
  }
  & > article {
    .off(2);
    .col(8);
    .wrap { .row; }
  }
}


.single-column-wrapper { .wrap { margin-left: 0px; } }

// Intro.
#main #intro {
  .single-column-wrapper;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial;
	font-size: 16px;
	line-height: 24px;
  max-width: 35em;
}



// Home
#main #home {
  //background: black;
  #home-content {
    .col(8);
  }

  #home-menu {
    .col(4);

    #publish {
      .row;
      .nice-length-for-reading;
      #tools {
        #counter { padding-right: 5px; }
        padding-top: 0.5em;
      }
    }

    #subscriptions {
      .row;
    }
  }
}



// Discover
#main #discover {
  #discover-content {
    .col(8);

    #add-subscription {
    }
  }
  #discover-menu {
    .col(4);
    .list-class { .row; }
  }
}



// Profile.
#main #profile {
  #profile-content {
    .col(8);
  }
  #profile-menu {
    .col(4);
    .list-class { .row; }
  }
}



// Settings.
#main #settings {
  .single-column-wrapper;
  .panel a {
    .panel-variant(@panel-primary-border; @panel-primary-text; @panel-primary-heading-bg; @panel-primary-border);
  }
}
