<header class="jumbotron">
    <span class="wrap">
        <h1>Discover</h1>
        <p class="lead">Discover new content through websites, hashtags, trending topics and users.</p>
    </span>
</header>

<article id="discover">
    <section id="discover-content">
        <form class="row" role="form" id="add-subscription">
            <div class="input-group form-group">
                <input type="text" class="form-control" placeholder="Discover content: news.com/rss.xml, @UserID, #hashtag">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Search</button>
                </span>
            </div>
        </form>

    </section>

    <section id="discover-menu">
        <div class="list-group">
            <a class="list-group-item">Trending topics <span class="pull-right glyphicon glyphicon-chevron-right"></span></a>
            <a class="list-group-item">Random <span class="pull-right glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </section>
</article>
