<header class="jumbotron">
    <span class="wrap">
        <h3><a class="pull-right glyphicon glyphicon-question-sign" href=""></a></h3>
        <h1>Discover</h1>
    </span>
</header>

<article id="discover">
    <section id="discover-main">
        <form class="input-group">
            <input type="text" class="form-control" placeholder="Enter a website, #hashtag or @contactID">
            <span class="input-group-btn"><button type="button" class="btn btn-primary">Discover content</button></span>
        </form>
    </section>

    <section id="discover-menu" class="list-group">
        <a class="list-group-item active">Trending topics <span class="pull-right glyphicon glyphicon-chevron-right"></span></a>
        <a class="list-group-item">Random <span class="pull-right glyphicon glyphicon-chevron-right"></span></a>
    </section>
</article>
