<header class="jumbotron">
    <span class="wrap">
        <h1>Home</h1>
        <p class="lead">Read messages from your subscriptions to hashtags, users and threads.</p>
    </span>
</header>

<article id="home"><div class="wrap">
    <section id="home-content">
        <div class="feed">
            <h1>Feed</h1>
            <ul>
                <li><message author="Dave" author-id="4ABF12ad3rA" reply="" thread="" language="en" timestamp="14h" starred=false watched=false>
                    Check out this #awesome message
                    </message>
                </li>
            </ul>
        </div>
    </section>

    <section id="home-menu">
        <form id="publish" role="form">
            <textarea class="form-control" spellcheck="true" rows=2 autosize
                      data-provide="limit" data-counter="#counter" data-max-chars=200 placeholder="Compose a new message..."></textarea>
            <div id="tools">
                <button type="button" class="pull-left btn btn-primary">Publish</button>
                <span class="pull-right text-muted">
                    <span id="counter">200</span>
                </span>
            </div>
        </form>

        <hr>

        <div id="subscriptions" class="panel panel-primary">
            <header class="panel-heading"><h3 class="panel-title"><span class="glyphicon glyphicon-bookmark"></span> Subscriptions</h3></header>
            <div class="list-group">
                <a href="#" class="list-group-item">#occupy</a>
                <p class="list-group-item">asdoisakd asd sadas </p>
            </div>
        </div>
    </section>
</div></article>
