<header class="jumbotron">
    <span class="wrap">
        <h1>Home</h1>
        <p class="lead">Read messages from your subscriptions to hashtags, users and threads.</p>
    </span>
</header>

<article id="home"><div class="wrap">
    <section id="home-content">
        <div class="feed" ng-controller="FeedCtrl">
            <h1>Feed</h1>
            <ul ng-repeat="message in messages" infinite-scroll="scroll()" infinite-scroll-distance="3">
                <li>
                    <message content="{{ message.content }}" author="{{ message.author }}" author-id="{{ message.authorId }}" reply="{{ message.reply }}" thread="{{ message.thread }}" language="{{ message.language }}" timestamp="{{ message.timestamp }}" starred="{{ message.starred }}" watched="{{ message.watched }}">

                    </message>
                </li>
            </ul>
        </div>
    </section>

    <section id="home-menu">
        <form id="publish" role="form">
            <textarea class="form-control" spellcheck="true" rows=3 autosize data-provide="limit" data-counter="#publish .tools .counter" data-max-chars=200 placeholder="Compose a new message..."></textarea>
            <div class="tools">
                <button type="button" class="pull-left btn btn-primary">Publish</button>
                <span class="pull-right text-muted">
                    <span class="counter">200</span>
                </span>
            </div>
        </form>

        <hr>

        <div id="subscriptions" class="panel panel-primary">
            <header class="panel-heading"><h3 class="panel-title"><span class="glyphicon glyphicon-bookmark"></span> Subscriptions</h3></header>
            <div class="list-group">
                <a href="#" class="list-group-item">#occupy</a>
                <p class="list-group-item">sub2</p>
            </div>
        </div>
    </section>
</div></article>
