<header class="jumbotron">
    <span class="wrap">
        <h1>Introduction</h1>
        <p class="lead">Learn about BitWeav, the premier open micropublishing network built entirely by those who use it.</p>
    </span>
</header>

<article id="intro"><div class="wrap">
    <p>BitWeav is the first open micropublishing network, built entirely by those who use it.</p>
    <p>It's a peer-to-peer network of people (think BitTorrent) that work together to distribute messages to eachother,
        in contrast to existing systems which host and control the entirety of their ecosystem (messages, profiles, topics).</p>
    <p>Think of BitWeav as the indie alternative to Twitter:</p>
    <ul>
        <li><p><strong>Freedom</strong> — There is no censorship and there are no restrictions imposed on you, as the network is not controlled by anyone.</p></li>
        <li><p><strong>Privacy</strong> — You maintain control over your own data, and no personal details are needed to get started.</p></li>
        <li><p><strong>Hashtags</strong> — You can use hashtags to categorise messages, and you can follow any number of topics.</p></li>
        <li><p><strong>Multilingual</strong> — Multilangual support for messages is built in.</p></li>
        <li><p><strong>Legality</strong> — You are assured that you only participate in distributing messages on topics you're interested in, unlike other P2P networks.</p></li>
        <li><p><strong>Open</strong> — You can rely on the functionality and security of BitWeav because it's open-source.
            Anyone can improve the software, or even build their own apps on top of it.</p></li>
    </ul>
    <p class="text-muted">Lovingly built by <a href="http://liamz.co" open-in-browser>Liam (@liamzebedee)</a>. To learn more about
        how it works or the history, please visit <a href="http://bitweav.org" open-in-browser>the official BitWeav website</a>.</p>
</div></article>
