<header class="jumbotron">
    <span class="wrap">
        <h1>My profile <small>ADDRESS</small></h1>
        <p class="lead">Your publicly available profile of messages.</p>
    </span>
</header>

<article id="profile">
    <section id="profile-content">
    </section>
    <section id="profile-menu" class="list-group">
        <a class="list-group-item active">All messages <span class="pull-right glyphicon glyphicon-chevron-right"></span></a>
        <a class="list-group-item">Favourites <span class="pull-right glyphicon glyphicon-chevron-right"></span></a>
    </section>
</article>
