<header class="jumbotron">
    <span class="wrap">
        <h3><a class="pull-right glyphicon glyphicon-question-sign" href=""></a></h3>
        <h1>Read</h1>
    </span>
</header>

<article id="read">
    <section id="reads">
        <div class="input-group" id="add-subscription">
            <input type="text" class="form-control" placeholder="Enter a @userid, #hashtag, WMessageID">
            <span class="input-group-btn"><button type="button" class="btn btn-primary">Subscribe</button></span>
        </div>
    </section>

    <section id="subscriptions">
        <div class="panel panel-primary">
            <header class="panel-heading"><h3 class="panel-title"><span class="glyphicon glyphicon-bookmark"></span> Subscriptions</h3></header>
            <div class="list-group">
                <a href="#" class="list-group-item">#occupy</a>
                <p class="list-group-item">asdoisakd asd sadas </p>
            </div>
        </div>
    </section>
</article>
