<header class="jumbotron">
    <span class="wrap">
        <h1>Settings</h1>
        <p class="lead">Configure BitWeav and its backend, bitweavd.</p>
    </span>
</header>

<article id="settings">
    <div class="panel-group" id="settings-panels">
        <div class="panel panel-default">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#settings-panels" href="#basic-settings">
                <div class="panel-heading">
                    <h3 class="panel-title">Basic</h3>
                </div>
            </a>
            <div id="basic-settings" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="form-group">
                        <label for="defaultLanguage">Default language:</label>
                        <select id="defaultLanguage" class="form-control">
                            <option value="en">English</option>
                            <option value="en-AU">English (Australian)</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#settings" href="#advanced-settings">
                <div class="panel-heading"><h3 class="panel-title">Advanced</h3></div>
            </a>
            <div id="advanced-settings" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="form-group">
                        <label for="dissemination-fanout">Dissemination fanout:</label>
                        <input type="number" id="dissemination-fanout">
                    </div>

                    <div class="form-group">
                        <label for="pubkey">Public key:</label>
                        <p id="pubkey">ASIUOIJAD873eDS2</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>

