<header class="jumbotron">
    <span class="wrap">
        <h3><a class="pull-right glyphicon glyphicon-question-sign" href=""></a></h3>
        <h1>Settings</h1>
    </span>
</header>

<article id="settings">
    <form class="form-horizontal" role="form" id="basic-settings">
        <div class="form-group">
            <label for="defaultLanguage">Default language:</label>
            <select id="defaultLanguage" class="form-control">
                <option value="en">English</option>
                <option value="en-AU">English (Australian)</option>
            </select>
        </div>
    </form>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#settings" href="#advanced-settings">Advanced</a></h3>
        </div>
        <div id="advanced-settings" class="panel-collapse collapse">
            <div class="panel-body">
                <label for="dissemination-fanout">Dissemination fanout:</label>
                <input type="number" id="dissemination-fanout">

                <label for="pubkey">Public key:</label>
                <p id="pubkey">ASIUOIJAD873eDS2</p>
            </div>
        </div>
    </div>
</article>

