<div class="message" id="message-{{ message_id }}" ng-mouseover="hover()" ng-click="expand($event)" ng-class="{ expanded: expanded }">
    <section class="message-main">
        <a class="pull-left user-dp" ng-click="">
            <img src="https://sigil.cupcake.io/{{ author }}">
        </a>
        <article class="media-body">
            <header>
                <h4 class="media-heading">
                    <a href="#">{{ author }}</a> <small><span>{{ author-id }}</span>
                    <time class="pull-right">{{ timestamp }}</time></small>
                </h4>
            </header>
            <p ng-transclude></p>
            <footer><ul class="controls">
                <li><a ng-click="expand($event)"><icon share-alt></icon> Reply</a></li>
                <li><icon star-empty></icon> Favourite</li>
                <li><icon share></icon> Share</li>
                </ul>
            </footer>
        </article>
    </section>

    <section class="message-expanded" ng-init="expanded = false" ng-show="expanded">
        <form class="reply-form">
            <textarea ng-focus="currentlyInReply = true" ng-blur="currentlyInReply = false" no-ng-click class="form-control" spellcheck="true" rows=2 autosize data-provide="limit" data-counter="#message-{{ messageId }} .tools .counter" data-max-chars=200 placeholder="Compose a new message..."></textarea>
            <div class="tools" ng-show="currentlyInReply">
                <button type="button" class="pull-left btn btn-primary">Publish</button>
                <span class="pull-right text-muted">
                    <span class="counter">200</span>
                </span>
            </div>
        </form>

        <div class="message-replies">
        </div>
    </section>
</div>
