<div class="message" id="message-{{ message_id }}" ng-click="expand($event)" ng-class="{ expanded: expanded }" ng-mouseover="showControls = true" ng-mouseleave="showControls = false">
    <section class="message-main">
        <a class="pull-left user-dp" ng-click="profileCard($event)">
            <!-- TODO replace with JS service -->
            <img src="https://sigil.cupcake.io/{{ author }}">
        </a>
        <article class="media-body">
            <header>
                <h4 class="media-heading">
                    <a href="#">{{ author }}</a> <small><span>{{ author-id }}</span>
                    <time class="pull-right">{{ timestamp }}</time></small>
                </h4>
            </header>
            <p ng-bind-html="content | autolink" no-ng-click></p>
            <footer><ul class="controls">
                <li><a ng-click="composeReply($event)" ng-show="showControls"><icon share-alt></icon> Reply</a></li>
                <li><a ng-click="favourite($event)" ng-show="showControls"><icon star-empty></icon> Favourite</a></li>
                <li><a ng-click="share($event)" ng-show="showControls"><icon share></icon> Share</a></li>
                </ul>
            </footer>
        </article>
    </section>

    <section class="message-expanded" ng-init="expanded = false" ng-show="expanded">
        <form novalidate class="reply-form simple-form media">
            <img src="https://sigil.cupcake.io/you" class="pull-left" width=32 height=32>
            <div class="media-body">
                <textarea ng-focus="currentlyInReply = true" ng-blur="currentlyInReply = false" no-ng-click ng-model="replyContent" class="form-control" spellcheck="true" rows=3 autosize data-provide="limit" data-counter="#message-{{ messageId }} .tools .counter" data-max-chars=200 placeholder="Reply to {{ author }}" required></textarea>
                <div class="tools" ng-show="currentlyInReply">
                    <button ng-click="sendReply(replyContent)" type="button" class="pull-left btn btn-primary">Publish</button>
                    <span class="pull-right text-muted">
                        <span class="counter">200</span>
                    </span>
                </div>
            </div>
        </form>

        <div class="message-replies">
        </div>
    </section>
</div>
